<header>
  {{!-- <h1>{{title}}</h1> --}}
  <nav class="navbar">
    <div class="title">
      <span class="heegu"><a href="/">Connect 4</a></span>
    </div>
  </nav>
</header>

<div class="line">
</div>
